<%- include('partials/header') -%>
<%- include('nav') -%>
<section class="about">
    <div class="content">
      <h1>About</h1>
      <p>
        Diane Powell founded Community and Family Builders in 2021.  Its mission is to advance equity for women and children and promote safety and wellness. 
      </p>
      <p>Two key initiatives include:</p>
      <ol>
        <li>Mentor programs with several local school districts</li>
        <li>A partnership with the <a href="https://www.alz.org/">Alzheimer's Association</a>, to help people better understand the disease and the impact it has on the sufferer and family members.</li>
      </ol>
      <p>
        Prior to this, Ms. Powell co-founded Black Women for Postive Change, a national, volunteer network, whose mission is to Change the Culture of Violence in America.  
        Under her leadership the organization expanded its membership around the country, met with members of Congress to highlight violence prevention and de-escalation legislation, 
        formed partnerships and developed programs with key gun reform organizations ie.  Moms Demand Action and CeaseFirePA.  
        She has been on the front lines, engaging youth in community safety and has convened key programs with the faith-based community.
      </p>
    </div>
</section>
<%- include('partials/footer') -%>