<section class="banner responsive">
  <div class="cycle-slideshow" data-cycle-slides=".slide" data-cycle-speed="6000">
    <span class="cycle-prev">&laquo;</span>
    <span class="cycle-next">&raquo;</span>
    <span class="cycle-pager"></span>
    <div class="slide">
      <img src="/images/IMG_20220617_180156990.jpg" alt="group1">
    </div>
    <div class="slide">
      <img src="/images/IMG_20220617_182138221.jpg" alt="group2">
    </div>
    <div class="slide">
      <img src="/images/IMG_20220831_101548945.jpg" alt="group3">
    </div>
    <div class="slide">
      <img src="/images/IMG_20221008_121826568.jpg" alt="group4">
    </div>
    <div class="slide">
      <img src="/images/20230320_090047.jpg" alt="group4">
      <div class="caption">
        Dr. Bruce Rabin hosting a workshop at Linton Middle School with teachers and staff
        Understanding the Impact of trauma and stress on Children
      </div>
    </div>
  </div>
</section>