<%- include('partials/header') -%>
<%- include('nav') -%>
<div class="donate">
    <div class="quote">
        <q>
            Making a donation is the ultimate sign of solidarity. Actions speak louder than words. -- IBRAHIM HOOPER
        </q>
    </div>
    <div class="myButton">
        <a href="https://pittsburghcontingency.org/donate-now/" target="_blank">DONATE NOW</a>
    </div>
</div>
<%- include('partials/footer') -%>