<%- include('partials/header') -%>
<%- include('nav') -%>
<section class="mainbody">
    <div class="container-fluid events">
        <h1>Events</h1>
        <P></P>
            <iframe src="/images/NotinOURCommunityflyer.pdf" height="75%" width="75%" ></iframe>
    </div>
</section>
<%- include('partials/footer') -%>