<%- include('partials/header') -%> <%- include('nav') -%>
<section class="mainbody">
  <div class="container-fluid events">
    <h1>Events</h1>
    <div class="row align-items-start">
      <div class="col-12">
        <iframe
          src="/images/CFBSupportGroup.pdf"
          height="75%"
          width="75%"
        ></iframe>
      </div>
      <div class="col-12">
        <iframe
          src="/images/PreciousMemories.pdf"
          height="75%"
          width="75%"
        ></iframe>
      </div>
      <div class="col-12">
        <iframe
          src="/images/DietWorkshop.pdf"
          height="75%"
          width="75%"
        ></iframe>
      </div>
      <div class="col-12">
        <iframe
          src="/images/Volunteer_Mentor.pdf"
          height="75%"
          width="75%"
        ></iframe>
      </div>
      <div class="col-12">
        <iframe src="/images/grieving.jpg" height="75%" width="75%"></iframe>
      </div>
      <div class="col-12">
        <iframe
          src="/images/GPA_Pittsburgh African American Summit_June 1, 2023 (5)-compressed.pdf"
          height="75%"
          width="75%"
        ></iframe>
      </div>
      <div class="col-12">
        <iframe
          src="/images/Alzheimer_Diet_Flyer_6.10.2023 FINAL (1).pdf"
          height="75%"
          width="75%"
        ></iframe>
      </div>
      <div class="col-12">
        <iframe
          src="/images/NotinOURCommunityflyer.pdf"
          height="75%"
          width="75%"
        ></iframe>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer') -%>
