<%- include('partials/header') -%> <%- include('nav') -%>
<div class="healthwellness" id="activities">
    <h2>Health & Wellness</h2>
        <ul>
            <li>Teen Mental Health</li>
            <li>Health and Wellness</li>
        </ul>
        <h4>Mentor local youth coping with:</h4>
        <ul>
            <li>Trauma</li>
            <li>De-escalation strategies</li>
            <li>Positive social skills</li>
            <li>Effective study habits</li>
            <li>Job readiness</li>
        </ul>
</div>
<%- include('partials/footer') -%>