<section class="mainbody">
    <div class="container-fluid">

        <div class="mission" id="mission">
            <h2>Mission</h2>
                <p>The mission of Community and Family Builders (CFB) is to educate and empower community residents to address the chronic and debilitating issues that impact the health and welfare of the minority and working-class families in Pennsylvania.  CFB will offer programs and focus on the following:</p>
                <ul>
                    <li>Alzheimer and health-related problems that impact people of color and lower-income communities.</li>
                    <li>Violence Prevention and peaceful alternatives for youth, families, and communities.</li>
                    <li>Community and learning activities that promote healthy, mind, body, and spirit in our homes, schools and neighborhoods.</li>
                    <li>Coordination and collaboration with organizations that offer services that promote CFB mission.</li>
                </ul>
        </div>
      
        <div class="activities" id="activities">
            <h2>Activities</h2>
                <h4>Free Education Workshops on a variety of topics:</h4>
                <ul>
                    <li>Teen Mental Health</li>
                    <li>Domestic Violence</li>
                    <li>Health and Wellness</li>
                    <li>Strategies and Solutions for Community Safety</li>
                </ul>

                <h4>Mentor local youth coping with:</h4>
                <ul>
                    <li>trauma</li>
                    <li>de-escalation strategies</li>
                    <li>positive social skills</li>
                    <li>effective study habits</li>
                    <li>job readiness</li>
                </ul>
        </div>
  
        <h4>Advocate for legislative reform common sense gun regulation and safety</h4>
  
        <h4>Mobilize volunteers (particularly women and youth) to build safer communities, advocate for change, and advance equity and full participation</h4>

  
    </div>
  </section>