<%- include('partials/header') -%> 
<%- include('nav') -%>
<section class="mission">
  <div id="mission">
    <h2>Mission</h2>
    <p>
      The mission of Community and Family Builders (CFB) is to educate and
      empower community residents to address the chronic and debilitating issues
      that impact the health and welfare of the minority and working-class
      families in Pennsylvania. CFB will offer programs and focus on the
      following:
    </p>
    <ul>
      <li>
        Alzheimer and health-related problems that impact people of color and lower-income communities.
      </li>
      <li>
        Violence Prevention and peaceful alternatives for youth, families, and communities.
      </li>
      <li>
        Community and learning activities that promote healthy, mind, body, and spirit in our homes, schools and neighborhoods.
      </li>
      <li>
        Coordination and collaboration with organizations that offer services that promote CFB mission.
      </li>
    </ul>
  </div>
</section>
<%- include('partials/footer') -%>
