<section class="tan-section" id="title">
  <div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">

      <a class="navbar-brand" href="/">
        <img class="" src="/images/CFBlogo1nobg.png" alt="CFB Logo" width="75" height="70">
      </a>

      <div class="companyName">
        <a href="/">Community and Family Builders</a>
      </div>
      
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/videos">Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#mission">Mission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#activities">Activities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/donate">Donate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>






