<section class="tan-section" id="title">
  <nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/CFBlogo1.png" alt="CFB Logo" style="width:60px;">
        Community and Family Builders
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs--target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown">What We Do?</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/mission">Mission</a>
              </li>
              <li>
                <a class="dropdown-item" href="/publicsafety">Public Safety</a>
              </li>
              <li>
                <a class="dropdown-item" href="/healthwellness">Health & Wellness</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/videos">Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/donate">Donate</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
