<%- include('partials/header') -%> <%- include('nav') -%>
<div class="publicsafety" id="activities">
    <h2>Public Safety</h2>
        <h4>Free Education Workshops on a variety of topics:</h4>
            <ul>
                <li>Domestic Violence</li>
                <li>Strategies and Solutions for Community Safety</li>
            </ul>
            <h4>Advocate for legislative reform and common sense gun regulation and safety</h4>
            <h4>Mobilize volunteers (particularly women and youth) to build safer communities, advocate for change, and advance equity and full participation</h4>
</div>
<%- include('partials/footer') -%>