<%- include('partials/header') -%>
<%- include('nav') -%>
<div class="resources" style="text-align: center;">
    <iframe width="1400" height="900" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=5A58442C61151AD1%21816117&authkey=%21ABA69Zha8WyKumk&em=2&wdAllowInteractivity=False&Item='Book%20collection%20list'!B1%3AK15&wdHideGridlines=True&wdInConfigurator=True&wdInConfigurator=True"></iframe>
</div>
<%- include('partials/footer') -%>