<%- include('partials/header') -%>
<%- include('nav') -%>

<section class="vidsec">
    <h1>Videos</h1>
    <div class="vidcontainer">
        <iframe width="760" height="515" src="https://www.youtube.com/embed/IDP9sfGSRts" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <!--<video controls height="75%" width="75%" id="vid1">
            <source src="/videos/cargiversvid.mp4" type="video/mp4">
        </video>-->
        <div class="vidcontent">
            <h1>Care Givers Coping with Difficult Behaviors</h1>
            <p>Led by Laura L. Huth EDD, MOT, OTR/L Carlow University</p>
        </div>
    </div>
    <div class="vidcontainer">
        <h1>Zoom Recordings</h1>
        <iframe width="760" height="515" src="https://alz-org.zoom.us/rec/share/4rt3RV-ZA4GkwR2WySQ0KA89zXM_ot-b_5B3qzm-fJmamgOnyjkRkLLp03762fHi.s_bdxpvkD8qaxo5O" title="Zoom Recording" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <!--<video controls height="75%" width="75%" id="vid1">
            <source src="/videos/cargiversvid.mp4" type="video/mp4">
        </video>-->
    </div>
</section>

<%- include('partials/footer') -%>